<head>
    <link rel="shortcut icon" href="media/favicon.png">
    <title>Europe map game</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/mapsvg.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="column" id="map" style="margin-top: 10px;"><div id="mapsvg"></div></div>
        <div class="column" id ="info" style="margin-top: -50px;">
            <h1 id="score">Your score: </h1>
            <h2 id="question"></h2>
            <br>
            <h2>Top players</h2>
            <ul id='leaderboard' style="margin-bottom: -50px;">
            </ul>
        </div>
    </div>
</body>